.message {
  border: 2px solid green;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: blue;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: black;
}